<div class="surface-ground px-4 py-5 md:px-6 lg:px-8">
    <div class="grid">
        <div class="col-12 md:col-6 lg:col-3">
            <div class="surface-card shadow-2 p-3 border-round">
                <div class="flex justify-content-between mb-3">
                    <div>
                        <span class="block text-500 font-medium mb-3">Confirmados</span>
                        <div class="text-900 font-medium text-xl">{{dayData?.confirmados | number}}</div>
                    </div>
                </div>
                <!-- <span class="text-green-500 font-medium">24 new </span>
                <span class="text-500">since last visit</span> -->
            </div>
        </div>
        <div class="col-12 md:col-6 lg:col-3">
            <div class="surface-card shadow-2 p-3 border-round">
                <div class="flex justify-content-between mb-3">
                    <div>
                        <span class="block text-500 font-medium mb-3">Muertos</span>
                        <div class="text-900 font-medium text-xl">{{dayData?.muertos | number}}</div>
                    </div>
                    <!-- <div class="flex align-items-center justify-content-center bg-orange-100 border-round"
                        style="width:2.5rem;height:2.5rem">
                        <i class="pi pi-map-marker text-orange-500 text-xl"></i>
                    </div> -->
                </div>
                <!-- <span class="text-green-500 font-medium">%52+ </span>
                <span class="text-500">since last week</span> -->
            </div>
        </div>
        <div class="col-12 md:col-6 lg:col-3">
            <div class="surface-card shadow-2 p-3 border-round">
                <div class="flex justify-content-between mb-3">
                    <div>
                        <span class="block text-500 font-medium mb-3">Recuperados</span>
                        <div class="text-900 font-medium text-xl">{{dayData?.recuperados | number}}</div>
                    </div>
                    <!-- <div class="flex align-items-center justify-content-center bg-cyan-100 border-round"
                        style="width:2.5rem;height:2.5rem">
                        <i class="pi pi-inbox text-cyan-500 text-xl"></i>
                    </div> -->
                </div>
                <!-- <span class="text-green-500 font-medium">520 </span>
                <span class="text-500">newly registered</span> -->
            </div>
        </div>
        <!-- <div class="col-12 md:col-6 lg:col-3">
            <div class="surface-card shadow-2 p-3 border-round">
                <div class="flex justify-content-between mb-3">
                    <div>
                        <span class="block text-500 font-medium mb-3">Comments</span>
                        <div class="text-900 font-medium text-xl">152 Unread</div>
                    </div>
                    <div class="flex align-items-center justify-content-center bg-purple-100 border-round"
                        style="width:2.5rem;height:2.5rem">
                        <i class="pi pi-comment text-purple-500 text-xl"></i>
                    </div>
                </div>
                <span class="text-green-500 font-medium">85 </span>
                <span class="text-500">responded</span>
            </div>
        </div> -->
    </div>
</div>
<div class="container">
    <h1>Total Globales</h1>

    <table>
        <tr>
            <td>
                <p-chart type="doughnut" [data]="data" [options]="chartOptions" [style]="{'width': '40%'}">
                </p-chart>
            </td>
            <td>
                <p-chart type="bar" [data]="basicData" [options]="basicOptions"></p-chart>
            </td>
        </tr>
    </table>

</div>

<div class="container">
    <br>
    <h1>Diarios por Municipio</h1>
    <div>
        <p-dropdown [formControl]="selectedMunicipio" [options]="municipios" optionLabel="name" optionValue="codigo"
            [virtualScroll]="true" [itemSize]="10" [filter]="true" filterBy="name" [showClear]="false"
            placeholder="Seleccione un municipio" autoWidth="false" [style]="{'width':'90%', 'margin-left': '55px'}">
        </p-dropdown>
    </div>
    <table>
        <tr>
            <td>
                <p-chart type="line" [data]="municipioData" [options]="basicOptions"></p-chart>
            </td>
        </tr>
    </table>
    <br>
    <h1>Total por Municipio</h1>

    <table>
        <tr>
            <td>
                <p-chart type="doughnut" [data]="dataMunicipio" [options]="chartOptions" [style]="{'width': '40%'}">
                </p-chart>
            </td>
            <td>
                <p-chart type="bar" [data]="basicDataMun" [options]="basicOptions"></p-chart>
            </td>
        </tr>
    </table>
</div>